<%- include("partials/header.ejs") %>

<h1 class="d-flex justify-content-center mt-5 mb-5">About Us</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h2>Our Mission</h2>
            <p>We are dedicated to providing insightful and well-researched content on various topics ranging from science to cinema, food, traveling, and more. Our goal is to share knowledge and spark curiosity through engaging blog posts and articles.</p>
        </div>
        <div class="col-lg-6">
            <h2>Our Story</h2>
            <p>Founded in 2024, our blog began as a platform to explore topics we are passionate about. Over time, it has grown into a resource for readers looking for quality content on diverse subjects. We take pride in creating a space where people can learn and discover new things.</p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>Our Team</h2>
            <p>Our team consists of professionals from various fields, including writers, researchers, and enthusiasts who are experts in their respective areas. We are committed to delivering accurate and engaging information to our readers.</p>
        </div>
        <div class="col-lg-6">
            <h2>Contact Us</h2>
            <p>If you have any questions, suggestions, or would like to contribute, feel free to <a href="/contact-us">contact us</a>. We are always open to feedback and collaboration.</p>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
