<%- include("partials/header.ejs") %>
<h1 class="d-flex justify-content-center mt-5">Your Comment Has Been Sent</h1>
<h4 class="mt-4 d-flex justify-content-center">Thank you for reaching out. We will get back to you soon.</h4>
<%- include("partials/footer.ejs") %>
