<%- include("partials/header.ejs") %>
<h2 class="home-title mt-5">✈️ Traveling 🏂</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 justify-content-center d-flex align-items-center">
    <div class="col d-flex justify-content-center">
      <div class="card w-60 ">
        <img src="images/traveling/california.jpg" class=" card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">30+ Incredible Places to Visit in California To Add To Your Bucket List</h5>
          <p class="card-text">There are so many beautiful places to visit in California that we could write a book on it. It’s a state that has more diversity than any other state in the United States, not just in its landscape, but in it’s variety of attractions and culture.</p>
          <a class="card-text" href="https://www.ytravelblog.com/places-to-visit-in-california-bucket-list/">Click here to read the full article</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card  w-60 ">
          <img src="images/traveling/europe.jpg" class=" card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">How to Plan a Trip to Europe with Kids: Essential Planning Tips</h5>
            <p class="card-text">Europe is filled in and jam packed with endless things to do. How do you decide where to go, what to spend, how to get around, and what to do in each country, while making sure the kids are entertained and happy?</p>
            <a class="card-text" href="https://www.ytravelblog.com/planning-a-trip-to-europe-with-kids/">Click here to read the full article</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card  w-60">
          <img src="images/traveling/australia.jpg" class=" card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">19 Must-See Attractions on the Great Ocean Road in Australia</h5>
            <p class="card-text">The Great Ocean Road Drive was high on our list of things to do in Victoria during our one-year road trip around Australia. We were prepared to take hundreds of photos and our expectations were HIGH.</p>
            <a class="card-text" href="https://www.ytravelblog.com/the-great-ocean-road-australia/">Click here to read the full article</a>
          </div>
        </div>
      </div>
  </div>
<%- include("partials/footer.ejs") %>